@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "pages";
  src: url("../fonts/pages.eot?yfqoab");
  src: url("../fonts/pages.eot?yfqoab#iefix") format("embedded-opentype"),
    url("../fonts/pages.ttf?yfqoab") format("truetype"),
    url("../fonts/pages.woff?yfqoab") format("woff"),
    url("../fonts/pages.svg?yfqoab#pages") format("svg");
}
